<launch>

    <!-- Define Robot's Machines -->

    <!-- itx1 startup (High Level: Navigation, HRI) -->
    <!-- roslaunch nodes on itx1 -->
    <include file="$(find robot_2dnav)/launch/itx1_robot_configuration.launch"/> <!-- start navigation --> -->
   
    <!-- rosrun nodes on itx1 -->
    <node pkg="websocket_server" type="ws_ros.py" name="ws_ros"
          respawn="false"/> <!-- server for HRI device comms -->
    <node pkg="nri" type="websocket_ROS_interface.py" name="ws_ros_interface"
          respawn="true"/> <!-- converts JSON to ROS messages -->
    <node pkg="web_video_server" type="web_video_server" name="web_video_server"
          respawn="true"/> <!-- server for streaming video to HRI devices -->
    <node pkg="kinect_aux2" type="kinect_aux_node_mod" name="kinect_aux"
          respawn="false"/> <!-- server for streaming video to HRI devices -->


</launch>
