<launch>

    <!-- Define Robot's Machines -->
    <machine name="itx1" address="wip-itx1" env-loader="/opt/ros/indigo/env.sh" user="itx1"/>
    <machine name="itx2" address="wip-itx2" env-loader="/opt/ros/indigo/env_mod.sh" user="itx2"/>


    <!-- itx2 startup (Low Level: Motor Control) -->
    <!-- rosrun nodes on itx2 -->

    <!-- roslaunch nodes on itx2 -->

    <include file="$(find low_level_wip)/launch/lowlevel.launch">
        <arg name="machine" value="itx2"/>
	<arg name="cmd_topic" value="smooth_cmd_vel"/>
    </include>

</launch>
