<launch>

    <!-- Define Robot's Machines -->
    <machine name="itx1" address="wip-itx1" env-loader="/opt/ros/indigo/env.sh" user="itx1"/>
    <machine name="itx2" address="wip-itx2" env-loader="/opt/ros/indigo/env_mod.sh" user="itx2"/>

    <!-- itx2 startup (Low Level: Motor Control) -->
    <!-- rosrun nodes on itx2 -->

    <node name="hokuyo" pkg="hokuyo_node" type="hokuyo_node" respawn="false" output="screen">
        <param name="calibrate_time" type="bool" value="false"/>
        <param name="port" type="string" value="/dev/ttyACM0"/>
        <param name="intensity" type="bool" value="false"/>
    </node>

    <!-- roslaunch nodes on itx2 -->

    <include file="$(find low_level_wip)/launch/lowlevel.launch">
        <arg name="cmd_topic" value="smooth_cmd_vel"/>
    </include>

    <include file="$(find openni2_launch)"/launch/openni2.launch">
	<arg name="camera" value="xtion"/>
   </include>

</launch>
